<div id="login">
	<h1>Login</h1>
	<p>(did you need to <a href="/signup">sign up</a>?)</p>
	<% form_tag session_path do -%>
		<%= render :partial => "login_form" %>
	<% end -%>
</div>
<br />


<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->