<div>
	<% for photo in @outfit.photos -%>
	  <%= link_to image_tag(photo.public_filename(:thumb)), photo.public_filename %>
	<% end -%>
</div>

<div>
  <b>Description:</b>
  <%=h @outfit.description %>
</div>


<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
