<div>
	<%= image_tag @outfit.outfit_photo.url(:large) %>
</div>

<div>
  <b>Description:</b>
  <%=h @outfit.description %>
</div>

<div>
	<b>Style Rating:</b>
</div>



<div id="votes_<%= @outfit.id %>">
	<%= render :partial => "votes/vote", :locals => {:voteable => @outfit} %>
</div>