<div>
	<% for photo in @outfit.photos -%>
	  <%= link_to image_tag(photo.public_filename(:thumb)), photo.public_filename %>
	<% end -%>
</div>

<div>
  <b>Description:</b>
  <%=h @outfit.description %>
</div>

<div>
	<b>Style Rating:</b>
</div>


<div id="votes_<%= @outfit.id %>">
	<%= render :partial => "votes/vote", :locals => {:voteable => @outfit} %>
</div>