body { background-color: #523d2d; }

#latest { float: left;}

#latest img { width: 125px; margin: 5px;}
#home_login { float: left; margin: 0px 0px 0px 30px;}

h1, h2, h3, h4, h5, h6, p { margin-top: 0px;}

#head { width: 750px; margin: 0px auto; height: 100px;}
#logo { float: left;}
#logo img { border: 0px;}
#nav { float: right; color: #fff; margin: 75px 20px 0px 0px;}
#nav a { color: #fff;}

#container {
	width: 750px;
	margin: 0px auto;
}

#container_top {
	background-image:url('/images/rounded_top.png');
	width: 750px;
	height: 20px;
	margin: 0px;
}

#container_bottom {
	background-image:url('/images/rounded_bottom.png');
	width: 750px;
	height: 20px;
	margin: 0px;}

#container_mid {
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 20px 20px;
}