<div id="latest">
	<h3>the latest outfits:</h3>
	<% for outfit in @latest %>
		<%= link_to image_tag(outfit.photos.first.public_filename(:thumb)), outfit %>	  
	<% end %>
</div>

<div id="login">
	<% if current_user %>
		Hi.
		<a href="/account">my account</a><br />
		<a href="/outfits">my outfits</a><br />
		<a href="/outfits/new">new outfit</a><br />
		<a href="/logout">logout</a><br />
	<% else  %>
		<p>already have an account?  Please <a href="/login">login</a></p>
		<p>need an account? <a href="/signup">Signup!</a></p>
	<% end %>
</div>

<div style="clear:both;"></div>