<% if @user.nil? %>
	<div style="text-align: center"><h1>We're sorry, we couldn't find that user!</h1></div>
	<div style="text-align: center; width: 525px; margin: 0px auto;">
	<% for outfit in Outfit.latest_outfits(3) %>
		<%= link_to image_tag(outfit.outfit_photo(:square), :alt => "#{outfit.user.login} on stylfy"), "outfits/#{outfit.id}" %>
	<% end %>
</div>
<% else %>
	<% if @user == current_user %>
		<!-- <p>edit password | edit profile info</p> -->
	<% end %>
	
	<h1><%= @user.login %>'s outfits</h1>
	
	<p>
	<% for outfit in @user.outfits %>
		<%= link_to image_tag(outfit.outfit_photo(:square), :alt => "#{outfit.user.login} on stylfy"), "outfits/#{outfit.id}" %>
	<% end %>
	</p>
<% end %>
