<% 
	unless voteable.user == current_user ||
	!logged_in? ||
	current_user.voted_on?(voteable)
%>

	<%= link_to '<span class="accent">APPLAUD</span> THIS OUTFIT', :action => "vote_for", :id => voteable.id %>
    <br />
	<%= link_to '<span class="accent">DISREGARD</span> THIS OUTFIT', :action => "vote_against", :id => voteable.id %>
	<br />
	<%= link_to '<span class="accent">FLAG</span> THIS OUTFIT', :action => "flag_outfit", :id => voteable.id, :options => {:style => "accent"} %>
<% end %>
</p>


