<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>untitled</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Andrew Clark">
	<!-- Date: 2008-11-15 -->
	<%= stylesheet_link_tag("app") %>
</head>
<body>
	<div id="container">
		<h1>wearingit.</h1>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
